.filter_container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 100px;
    margin: 0 auto;
    background-color: aquamarine;

    @include respond-to(xsmall) {
        height: 140px;
    }

    .slider_container {
        box-sizing: border-box;
        padding: 0 10px;
        display: inline-block;
        width: 50%;

        p {
            font-size: 16px;

            span:nth-child(2) {
                font-weight: bold;
            }

            &.first_slider_details {
                text-align: left;
            }

            &.second_slider_details {
                text-align: right;
            }
        }
    }
}

