.user_index {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;

    .user_thumbnail {
        min-width: $thumbnailSize;
        box-sizing: border-box;
        text-align: center;
        border: 2px solid black;
        margin-top: #{$thumbnailSpacing};

        @include respond-to(xsmall) {
            width: 100%;
        }

        @include respond-to(small) {
            margin-right: #{$thumbnailSpacing};
            &:nth-child(2n) { margin-right: 0 };
            width: calc((100% - #{$thumbnailSpacing} * 1) / 2);
        }

        @include respond-to(medium) {
            margin-right: #{$thumbnailSpacing};
            &:nth-child(3n) { margin-right: 0 };
            width: calc((100% - #{$thumbnailSpacing}*2)/3);
        }

        @include respond-to(large) {
            margin-right: #{$thumbnailSpacing};
            &:nth-child(4n) { margin-right: 0 };
            width: calc((100% - #{$thumbnailSpacing}*3)/4);
        }

        @include respond-to(xlarge) {
            margin-right: #{$thumbnailSpacing};
            &:nth-child(5n) { margin-right: 0 };
            width: calc((100% - #{$thumbnailSpacing}*4)/5);
        }

        span {
            font-size: 20px;
        }

        .user_thumbnail_image_container {
            position: relative;
            @include calc-ratio(1, 1);

            .user_thumbnail_image {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 100%;

                &.offline {
                    -webkit-filter: grayscale(80%) blur(5px);
                    -moz-filter: grayscale(80%) blur(5px);
                    filter: grayscale(80%) blur(5px);

                    &:hover {
                        -webkit-filter: grayscale(0) blur(0);
                        -moz-filter: grayscale(0) blur(0);
                        filter: grayscale(0) blur(0);
                    }
                }
            }
        }
    }
}

