.user_index {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;

    .user_thumbnail {
        min-width: $thumbnailSize;
        box-sizing: border-box;

        @include respond-to(xsmall) {
            padding: 4px;
            width: 100%;
        }

        @include respond-to(small) {
            &:nth-child(2n+1) { padding: 4px; }
            &:nth-child(2n) { padding: 4px 4px 4px 0; }
            width: 50%;
        }

        @include respond-to(medium) {
            &:nth-child(3n+2) { padding: 4px; }
            &:nth-child(3n+1) { padding: 4px 0 4px 0; }
            &:nth-child(3n) { padding: 4px 4px 4px 0; }
            width: 33.33%;
        }

        @include respond-to(large) {
            &:nth-child(4n+3) { padding: 4px; }
            &:nth-child(4n+2), &:nth-child(4n+1) { padding: 4px 0 4px 0; }
            &:nth-child(4n) { padding: 4px 4px 4px 0; }
            width: 25%;
        }

        @include respond-to(xlarge) {
            &:nth-child(5n+4) { padding: 4px; }
            &:nth-child(5n+3), &:nth-child(5n+2), &:nth-child(5n+1) { padding: 4px 0 4px 0; }
            &:nth-child(5n) { padding: 4px 4px 4px 0; }
            width: 20%;
        }

        .user_thumbnail_image_container {
            position: relative;
            @include calc-ratio(1, 1);

            .user_thumbnail_image {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 100%;
            }
        }
    }
}

